@charset "UTF-8";
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.top-header {
  background-color: #727272; }
  .top-header ul li {
    list-style-type: none; }
    .top-header ul li a {
      text-decoration: none;
      color: #ffffff;
      float: left;
      margin-left: 20px;
      border-right: 1px solid #ffffff;
      padding-right: 10px;
      font-size: 15px;
      margin-top: 15px; }
  .top-header p {
    float: right;
    color: #ffffff; }

.header {
  background-color: #25BCBD;
  position: relative; }
  .header .big-logo {
    text-align: center;
    padding-top: 25px; }
  .header .navigation ul li {
    list-style-type: none; }
    .header .navigation ul li a {
      color: #727272;
      text-decoration: none;
      font-size: 18px;
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px; }
  .header .header-icons {
    float: right;
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 20px; }
    .header .header-icons span {
      -webkit-transition: color .8s ease;
      -o-transition: color .8s ease;
      transition: color .8s ease;
      cursor: pointer; }
      .header .header-icons span:hover {
        color: #ffffff; }

.advertisement-big {
  position: relative;
  background-image: url(../img/big-background.jpg);
  padding: 110px; }
  .advertisement-big .advertisement {
    border: 5px solid #25BCBD;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 800px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto; }
    .advertisement-big .advertisement h1 {
      color: #25BCBD;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 15px; }

.information .info-first {
  text-align: center; }
  .information .info-first p {
    font-size: 40px;
    color: #25BCBD;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px; }

.information .info-second {
  background-color: #eeeeee;
  text-align: center;
  padding-top: 50px; }
  .information .info-second h2 {
    color: #25BCBD;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 50px;
    padding: 10px; }

.information .info-third {
  text-align: center;
  padding-top: 50px; }
  .information .info-third h2 {
    color: #25BCBD;
    font-weight: 400; }
  .information .info-third .info-third-wrap {
    position: relative;
    margin-bottom: 20px; }
    .information .info-third .info-third-wrap img {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 300px;
      height: 300px;
      margin: 30px; }
    .information .info-third .info-third-wrap span {
      text-align: center;
      color: #25BCBD;
      border: 2px solid #25BCBD;
      position: absolute;
      font-size: 30px;
      top: 25%;
      bottom: 25%;
      right: 25%;
      left: 25%;
      margin: -3px;
      border-radius: 2px;
      -webkit-transition: margin .7s ease;
      -o-transition: margin .7s ease;
      transition: margin .7s ease;
      cursor: pointer;
      text-transform: uppercase; }
      .information .info-third .info-third-wrap span:hover {
        margin: -10px; }

.footer p {
  color: #727272;
  text-transform: uppercase;
  padding-left: 40px; }

.footer li {
  list-style-type: none; }

.footer a {
  color: #727272;
  -webkit-transition: color .6s ease, -webkit-text-decoration .6s ease;
  transition: color .6s ease, -webkit-text-decoration .6s ease;
  -o-transition: color .6s ease, text-decoration .6s ease;
  transition: color .6s ease, text-decoration .6s ease;
  transition: color .6s ease, text-decoration .6s ease, -webkit-text-decoration .6s ease; }
  .footer a:hover {
    color: #25BCBD;
    text-decoration: none; }

.footer span {
  color: #727272;
  cursor: pointer;
  -webkit-transition: color .7s ease;
  -o-transition: color .7s ease;
  transition: color .7s ease; }
  .footer span:hover {
    color: #25BCBD; }

.footer h3 {
  color: #727272; }

@font-face {
  font-family: 'fontello';
  src: url("../css/fonts/fontello.eot");
  src: url("../css/fonts/fontello.eot") format("embedded-opentype"), url("../css/fonts/fontello.woff2") format("woff2"), url("../css/fonts/fontello.woff") format("woff"), url("../css/fonts/fontello.ttf") format("truetype"), url("../css/fonts/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36565685#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak-as: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-pencil:before {
  content: '\e800'; }

/* '' */
.icon-search:before {
  content: '\e801'; }

/* '' */
.icon-lock:before {
  content: '\e802'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-pinterest-circled:before {
  content: '\f0d2'; }

/* '' */
.icon-suitcase:before {
  content: '\f0f2'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
