.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }



.top-header {
    background-color: $grey;

    ul {

        li {
            list-style-type: none;
            

            a {
                text-decoration: none;
                color: $white;
                float: left;
                margin-left: 20px;
                border-right: 1px solid $white;
                padding-right: 10px;
                font-size: 15px;
                margin-top: 15px;

            }
        }
    }

    p {
        float: right;
        color: $white;
    }
}

.header {
    background-color: $aquamarine;
    position: relative;

    .big-logo {
        text-align: center;
        padding-top: 25px;
    }

    .navigation {

        ul {

            li {
                list-style-type: none;

                a {
                    color: $grey;
                    text-decoration: none;
                    font-size: 18px;
                    float: left;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .header-icons {
        float: right;
        position: absolute;
        top: 30%;
        right: 10%;
        font-size: 20px;
        
        span {
            transition: color .8s ease;
            cursor: pointer;

            &:hover {
                color: $white;
            }
        }
    }
}

.advertisement-big {
    position: relative;
    background-image: url(../img/big-background.jpg);
    padding: 110px;

    .advertisement {
        border: 5px solid $aquamarine;
        text-align: center;
        background-color: rgba($black,0.7);
        max-width: 800px;
        padding: 40px;  
        margin-left: auto;
        margin-right: auto;


        h1 {
            color: $aquamarine;
            font-size: 60px;
            font-weight: 400;
            letter-spacing: 15px;
        }
    }
}

.information {

    .info-first {
        text-align: center;
        
        
        p {
            font-size: 40px;
            color: $aquamarine;
            margin-left: auto;
            margin-right: auto;
            padding-left: 100px;
            padding-right: 100px; 
        } 
    }

    .info-second {
        background-color: $background-grey;
        text-align: center;
        padding-top: 50px;

        h2 {
            color: $aquamarine;
            font-size: 35px;
            font-weight: 400;
            padding-bottom: 50px;
            padding: 10px;

            
        }
    }

    .info-third {
        text-align: center;
        padding-top: 50px;

        h2 {
            color: $aquamarine;
            font-weight: 400;
        }

        .info-third-wrap {
                position: relative;
                margin-bottom: 20px;

            img {
                display: block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 300px;
                height: 300px;
                margin: 30px;
            }
    
            span {
                text-align: center;
                color: $aquamarine;
                border: 2px solid $aquamarine;
                position: absolute;
                font-size: 30px;
                top: 25%;
                bottom: 25%;
                right: 25%;
                left: 25%;
                margin: -3px;
                border-radius: 2px;
                transition: margin .7s ease;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    margin: -10px;
                }
            }
        }
    }
}

.footer {

    p {
        color: $grey;
        text-transform: uppercase;
        padding-left: 40px;
    }

    li {
        list-style-type: none;
    }

    a {
        color: $grey;
        transition: color .6s ease, text-decoration .6s ease;

        &:hover {
            color: $aquamarine;
            text-decoration: none;
        }
    }

    span {
        color: $grey;
        cursor: pointer;
        transition: color .7s ease;

        &:hover {
            color: $aquamarine;

        }
    }

    h3 {
        color: $grey;
    }
}